hoist=false
resolution-mode=lowest-direct
update-notifier=false
strict-peer-dependencies=true

# by default pnpm creates wrapper shell scripts in node_modules/.bin. 
# this breaks stuff like `node $(pnpm bin)/jest`
prefer-symlinked-executables=true

# we need to disable dedupe-peer-dependents otherwise we can't do workspace-specific installs
# https://github.com/pnpm/pnpm/issues/6300
dedupe-peer-dependents=false
